div(class='six columns')
	b Links
	div(class='row')
		div(class='six columns links')
			p
				a(href='https://www.dndbeyond.com/compendium/rules/basic-rules/monsters#Challenge', target="_blank") XP by CR
			p
				a(href='https://www.dndbeyond.com/compendium/rules/phb/combat#Grappling', target="_blank") Grappeling

		div(class='six columns links')
			p
				a(href='https://www.dndbeyond.com/monsters/hill-giant', target="_blank") Hill Giant
			p
				a(href='https://www.dndbeyond.com/monsters/stone-giant', target="_blank") Stone Giant
			p
				a(href='https://www.dndbeyond.com/monsters/cloud-giant', target="_blank") Cloud Giant

	br

	div(class='row')
		div
			b Doors.
			p Doors are great iron-bound log affairs 1 foot in thickness, each about 7 feet wide and 16 to 18 feet high.
			p A DC 10 Strength (Athletics) check to open any of the doors on the upper level.

		div
			b Secret Doors.
			p Successful DC 12 Wisdom (Perception) check to find.

div(class='six columns')
	b Giant Names
	div(class='row')
		div(class='six columns links')
			p Dagmar
			p Gudrun
			p Gunhild
			p Hemming
		div(class='six columns links')
			p Jorunn
			p Sigrid
			p Tove
			p Leif
	br

	b Orc Names
	div(class='row')
		div(class='six columns links')
			p Zhakk - Za-hawk
			p Bhud
			p Bhod
			p Logakk
		div(class='six columns links')
			p Rhazzog
			p Shadub
			p Larod
			p Drumvak

	br

	div(class='row')
		table
			tbody
				tr
					th Roll20 Keyboard Shortcuts
					th Shortcut
				tr
					td Switch to Map layer
					td m
				tr
					td Switch to Tokens layer
					td o
				tr
					td Switch to GM layer
					td k
				tr
					td Switch to Dynamic Lighting layer
					td ,
				tr
					td Select tool
					td s
				tr
					td Measure
					td q
				tr
					td Show Turn Tracker
					td y
				

			

