p(style='margin-bottom:2px;') Other
div(class='row')
	div(class='six columns links')
		b Links
		p
			a(href='https://www.dndbeyond.com/compendium/rules/basic-rules/monsters#Challenge', target="_blank") XP by CR
		p
			a(href='https://www.dndbeyond.com/compendium/rules/phb/combat#Grappling', target="_blank") Grappeling
		p
			a(href='https://www.dndbeyond.com/monsters/hill-giant', target="_blank") Hill Giant
		p
			a(href='https://www.dndbeyond.com/monsters/stone-giant', target="_blank") Stone Giant
		p
			a(href='https://www.dndbeyond.com/monsters/cloud-giant', target="_blank") Cloud Giant
	div(class='six columns links')
		b Giant Names
		p Dagmar
		p Gudrun
		p Gunhild
		p Jorunn
		p Sigrid
		p Tove