div(class='six columns')
	b Links
	div(class='row')
		div(class='six columns links')
			p
				a(href='https://www.dndbeyond.com/compendium/rules/basic-rules/monsters#Challenge', target="_blank") XP by CR
			p
				a(href='https://www.dndbeyond.com/compendium/rules/phb/combat#Grappling', target="_blank") Grappeling
			p
				a(href='https://www.dndbeyond.com/monsters/hill-giant', target="_blank") Hill Giant
			p
				a(href='https://www.dndbeyond.com/monsters/stone-giant', target="_blank") Stone Giant
			p
				a(href='https://www.dndbeyond.com/monsters/cloud-giant', target="_blank") Cloud Giant
		div(class='six columns links')
			p
				a(href='kalebhermes.com/node') Temp Link

div(class='six columns')
	b Giant Names
	div(class='row')
		div(class='six columns links')
			p Dagmar
			p Gudrun
			p Gunhild
		div(class='six columns links')
			p Jorunn
			p Sigrid
			p Tove
	br
		
	b Some Other Thing
	div(class='row')
		div(class='six columns links')
			p Dagmar
			p Gudrun
			p Gunhild
		div(class='six columns links')
			p Jorunn
			p Sigrid
			p Tove