doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="Kaleb Hermes" content="notranslate")
		meta(http-equiv="Content-Language" content="en")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="/stylesheets/normalize.css")
		link(rel="stylesheet" href="/stylesheets/skeleton.css")
		
		link(rel="stylesheet" href="/stylesheets/style.css")
		link(rel="stylesheet" href="/stylesheets/dnd.css")
		
		link(rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon")
		script(src="/javascripts/post.js")
	body
	block content