p(style='margin-bottom:2px;') Campaign Notes
p #{notes}
textarea(class='campaign-notes', id='campaign_notes', value=notes)
button(class='u-pull-right', onclick=`postCampaignNotesUpdate('${env.NODE_ENV}')`) Save